.container-fluid{
    transform:translateY(-10px);
    transition:transform 0.5s;
}

.container{
    
    position: relative;
    text-align: center;
    color: white;
}

.container1{
    position: relative;
    text-align: center;
    color: white;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(0, 0, 0);
  }
  
  .flex-container > div {
    
    position: relative;
    text-align: center;
    background-color: #f1f1f1;
    width: 100%;
    height: 150px;
    margin: 25px;
    text-align: center; 
    font-weight: 100%;
  }





